body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* for hiding scrollbar */
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
/*  */


@font-face {
  font-family: 'nunito';
  src: url(./assets/fonts/NunitoSans-Regular.ttf);
}


@font-face {
  font-family: 'oswald';
  src: url(./assets/fonts/Oswald-VariableFont_wght.ttf);
}